.carousel {
    position: relative;
    max-width: 90%; /* Ajuste conforme necessário */
    margin: auto;
    overflow: hidden;
}

.slides {
    display: flex;
    width: 100% !important;
    transition: transform 0.5s ease;
}

.slide {
    flex: 0 0 100% !important;
    min-width: 100% !important; /* Ajuste conforme necessário */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 520px; /* Altura do carrossel */
    background-color: #ccc;
}

#slide1 {
    background-image: url('../img/site/imagem_banner.png') !important;
    background-size: cover;
    background-position: center;
    height: 100%; /* Defina a altura desejada, por exemplo, 500px ou 100vh se quiser que ocupe toda a altura da janela */
    width: 100%; /* Se você deseja que cubra toda a largura disponível */
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: white;
    background-color: rgba(0,0,0,0.5);
    border: none;
    padding: 10px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
