@import url(https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@400;500;600;700&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-bar {
  background: rgb(236, 0, 140);
  background: linear-gradient(
    90deg,
    rgba(236, 0, 140, 1) 0%,
    rgba(236, 0, 140, 1) 47%,
    rgba(198, 3, 110, 1) 80%
  );
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 0;
  max-width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  width: 90%;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
}

.nav-top-bar {
  background-color: #222;
  display: flex;
  justify-content: center;
  border-color: #080808;
}

.nav-top-bar ul {
  margin: 0 20px;
}

.ul-nav-top-bar {
  display: flex;
  justify-content: center;
  list-style: none;
}

.ul-nav-top-bar li,
.ul-nav-top-bar li a {
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.logo-bar {
  background:#131313;
  /* border-bottom: 1px solid #ccc; */
  padding: 10px 0;
}

.logo-bar.container {
  display: flex;
  justify-content: space-evenly !important;
}

.logo {
  width: 160px;
  display: block;
  margin: 0 130px;
}

.main-nav {
  width: 30% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block.block-search {
  flex: 0 1 100%;
}

.form.minisearch .field.search {
  position: relative;
  width: 100%;
}

.form.minisearch .control {
  display: flex;
  align-items: center;
}

.input-text {
  width: 100%;
  font-family: "Saira Extra Condensed", sans-serif;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 50px;
  border: 1px solid #777;
  background-color: #fff;
  color: gray;
}

.input-text::placeholder {
  color: gray;
}

.search-btn {
  position: absolute;
  right: 0;
  height: 50px;
  border: none;
  padding: 5px 15px;
  background-color: transparent;
  color: black;
  /* Cor do ícone de pesquisa */
  cursor: pointer;
}

.search-btn:hover {
  background-color: var(--link-primario);
}

.search-btn .search-icon {
  font-size: 20px;
}

/* Estilo opcional para remover o foco do outline */
.input-text:focus {
  outline: none;
}

.search-btn:focus {
  outline: none;
}

/* Corrigindo o alinhamento do ícone dentro do botão */
.search-btn i {
  pointer-events: none;
}

.user-actions {
  margin: 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.user-actions a {
  margin-left: 15px;
  text-decoration: none;
  color: #e90064;
}

.user-actions a i {
  font-size: 2rem;
}

.categorias {
  border: none !important;
  display: flex;
  justify-content: center;
  background-color: #f8f8f8;
  width: 100% !important;
}

.category-icons {
  padding: 10px;
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  width: 65%;
  justify-content: space-evenly;
}

.promo-bar {
  background: #00ac24;
  width: 100%;
  height: auto;
  padding: 0;
  max-width: 100%;
}

@media (min-width: 1280px) and (max-width: 1600px) {
}

/* Dispositivos de tela grande (como desktops) */
@media (min-width: 1200px) {
}

/* Laptops e monitores maiores */
@media (min-width: 1024px) {
}

/* Tablets */
@media (max-width: 768px) {
}

/* Media query para telas menores que 768px */
@media (max-width: 768px) {
}

/* Smartphones */
@media (max-width: 480px) {
}

/* Pequenos dispositivos */
@media (max-width: 320px) {
}
