.special-offer {
    background: #f8f8f8;
    padding: 20px 0;
    text-align: center;
}

.special-offer h2 {
    margin-bottom: 20px;
}

.offer-products {
    display: flex;
    justify-content: center;
}

.product {
    margin: 0 15px;
}

.product img {
    width: 150px;
    display: block;
    margin: 0 auto;
}

@media (min-width: 1280px) and (max-width: 1600px) {
}

/* Dispositivos de tela grande (como desktops) */
@media (min-width: 1200px) {
}

/* Laptops e monitores maiores */
@media (min-width: 1024px) {
}

/* Tablets */
@media (max-width: 768px) {
}

/* Smartphones */
@media (max-width: 480px) {
}

/* Pequenos dispositivos */
@media (max-width: 320px) {
}