.carousel {
    position: relative;
    max-width: 90%;
    margin: auto;
    overflow: hidden;
}

.slides {
    display: flex;
    width: 100% !important;
    transition: transform 0.5s ease;
}

.slide {
    flex: 0 0 100% !important;
    min-width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 520px;
    background-color: #ccc;
}

#slide1 {
    background-image: url('../img/site/imagem_banner.png') !important;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: white;
    background-color: rgba(0,0,0,0.5);
    border: none;
    padding: 10px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}


@media (min-width: 1280px) and (max-width: 1600px) {
}

/* Dispositivos de tela grande (como desktops) */
@media (min-width: 1200px) {
}

/* Laptops e monitores maiores */
@media (min-width: 1024px) {
}

/* Tablets */
@media (max-width: 768px) {
    .slide {
        height: 220px;
    }
}

/* Smartphones */
@media (max-width: 480px) {
}

/* Pequenos dispositivos */
@media (max-width: 320px) {
}